root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <!-- Book enitity (Thành Trí) -->

                <!-- Author entity (Thế Vinh) -->
                <xs:element name="authors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="author" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="full_name" type="xs:string" />
                                        <xs:element name="date_of_birth" type="xs:date" />
                                        <xs:element name="avatar" type="xs:anyURI" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Genre entity (Thế Vinh) -->
                <xs:element name="genres">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="genre" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="genre_name" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Role entity (Quốc Việt) -->

                <!-- User entity (Quốc Việt) -->

                <!-- Order entity (Thành Trí) -->

                <!-- Address entity (Quốc Việt) -->

                <!-- Review entity (Quốc Việt) -->

                <!-- Genre detail entity (Thế Vinh) -->
                <xs:element name="genre_details">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="genre_detail" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="genre_id" type="xs:string" use="required" />
                                    <xs:attribute name="book_id" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Author detail entity (Thế Vinh) -->
                <xs:element name="author_details">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="author_detail" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="author_role" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="author_id" type="xs:string" use="required" />
                                    <xs:attribute name="book_id" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Order detail entity (Thành Trí) -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>