root.dtd

<!ELEMENT root (books, authors, genres, roles, users, orders, addresses, reviews, genre_details, author_details, order_details)>

<!-- Book enitity (Thành Trí) -->
<!ELEMENT books (book+)>
<!ELEMENT book (title, page_count, price, amount, publish_year, description, thumbnail, available)>
<!ATTLIST book id ID #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT page_count (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT amount (#PCDATA)>
<!ELEMENT publish_year (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT thumbnail (#PCDATA)>
<!ELEMENT available (#PCDATA)>

<!-- Author entity (Thế Vinh) -->
<!ELEMENT authors (author*)>
<!ELEMENT author (full_name, date_of_birth, avatar)>
<!ATTLIST author id ID #REQUIRED>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT avatar (#PCDATA)>

<!-- Genre entity (Thế Vinh) -->
<!ELEMENT genres (genre*)>
<!ATTLIST genre id ID #REQUIRED>
<!ELEMENT genre (genre_name)>
<!ELEMENT genre_name (#PCDATA)>

<!-- Role entity (Quốc Việt) -->
<!ELEMENT roles (role+)>
<!ELEMENT role (role_name)>
<!ATTLIST role id ID #REQUIRED>
<!ELEMENT role_name (#PCDATA)>

<!-- User entity (Quốc Việt) -->
<!ELEMENT users (user+)>

<!ELEMENT user (username, password, numberphone, email, gender)>
<!ATTLIST user id ID #REQUIRED role_id IDREF #REQUIRED>
<!ELEMENT username (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT numberphone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT gender (#PCDATA)>
<!ELEMENT roleId (#PCDATA)>

<!-- Order entity (Thành Trí) -->
<!ELEMENT orders (order*)>
<!ELEMENT order (customer_name, tel, order_date, status, order_address, payment_method, discount, total_amount, note?)>
<!ATTLIST order
    id ID #REQUIRED
    customer_id IDREF #REQUIRED
>
<!ELEMENT customer_name (#PCDATA)>
<!ELEMENT tel (#PCDATA)>
<!ELEMENT order_date (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT order_address (#PCDATA)>
<!ELEMENT payment_method (#PCDATA)>
<!ELEMENT discount (#PCDATA)>
<!ELEMENT total_amount (#PCDATA)>
<!ELEMENT note (#PCDATA)>

<!-- Address entity (Quốc Việt) -->
<!ELEMENT addresses (address+)>
<!ELEMENT address (detailed_address, city, ward, default, created_date)>
<!ATTLIST address
    id ID #REQUIRED
    user_id IDREF #REQUIRED>
<!ELEMENT detailed_address (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT ward (#PCDATA)>
<!ELEMENT default (#PCDATA)>
<!ELEMENT created_date (#PCDATA)>

<!-- Review entity (Quốc Việt) -->
<!ELEMENT reviews (review+)>
<!ELEMENT review (rating, comment, date?)>
<!ATTLIST review id ID #REQUIRED book_id IDREF #REQUIRED user_id IDREF #REQUIRED>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT comment (#PCDATA)>
<!ELEMENT date (#PCDATA)>

<!-- Genre detail entity (Thế Vinh) -->
<!ELEMENT genre_details (genre_detail*)>
<!ELEMENT genre_detail EMPTY>
<!ATTLIST genre_detail genre_id IDREF #REQUIRED>
<!ATTLIST genre_detail book_id IDREF #REQUIRED>

<!-- Author detail entity (Thế Vinh) -->
<!ELEMENT author_details (author_detail*)>
<!ELEMENT author_detail (author_role)>
<!ELEMENT author_role (#PCDATA)>
<!ATTLIST author_detail author_id IDREF #REQUIRED>
<!ATTLIST author_detail book_id IDREF #REQUIRED>

<!-- Order detail entity (Thành Trí) -->
<!ELEMENT order_details (order_detail*)>
<!ELEMENT order_detail (quantity, unit_price)>
<!ATTLIST order_detail
    id CDATA #REQUIRED
    order_id IDREF #REQUIRED
    book_id IDREF #REQUIRED
>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT unit_price (#PCDATA)>