dtds/sach.dtd

<!ELEMENT books (book+)>
<!ELEMENT book (title, page_count, price, publish_year, description, thumbnail, available)>
<!ATTLIST book id ID #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT page_count (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT publish_year (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT thumbnail (#PCDATA)>
<!ELEMENT available (#PCDATA)>